<div class="container">

	

<DIV class="msform">
	
		<span class = "label label-default">Email ID</span>
		<input type="text"  ng-model="Customer.Email" />
		<span class = "label label-default">OLD password</span>
		<input type="password" ng-model="Customer.OldPassword" />
		<span class = "label label-default">New password</span>
		<input type="password" ng-model="Customer.NewPassword" />

		<input type="button" class="submit action-button" value="Change Password" ng-click="ChangePassword()"/>

	
</DIV>
</div>
